*{  /*Zerar os padrões da pagina  */
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* utilizado para a pagina não rolar */
    font-family: 'Poppins', sans-serif;
}

.header-section {
    width: 100%; /*Largura de 100% da pagina*/
    height: 840px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}
.header-logo{ /*Div que segura o logo da pagina na section e o h1*/
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 116px;
    text-align: center;
}

.logo-icon { /*Dimensionando logo*/
    width: 87px;
    height: 80px;
}

h1{
    color: #ffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 81px;
    font-size: 42px;}

h2{
    color: #ffff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 311px;
}
p{
    color: #ffff;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}
.container-icons{
    width: 566px;
    height: 136px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
   
}
.group-1{
    width: 110px;
    height: 110px;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.medium-section{
    width: 100%;

}
.container-back{
    width: 912px;
    height: 763px;
    background-color: #50B2EA;
    float: right;
}